<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home</title>

    <!-- css files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <!-- entry point of react app -->
    <div id="root"></div>

    <!-- js scripts include my -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jsmpeg.pipe.min.js"></script>
    <script src="/js/main.bundle.js"></script>
</body>

</html>